@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<html ng-app="purchaseApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>   
    <link rel="stylesheet"  href="~/Content/StyleSheet1.css" >


</head>
<body ng-controller="purchaseController">
    <div class="page-header">
        <h1> Список покупок </h1>
    </div>
    <div class="container border-container">
        <div class="row">
            <div class="row-sm-height">             
                <div class="col-md-2 col-md-push-3 col-sm-2">
                   
                    <button>menu-item1</button>
                   
                </div>
                <div class="col-md-2 col-md-push-2 col-sm-2">
                   
                    <button>menu-item2</button>
                </div>
                <div class="col-md-2 col-md-push-1 col-sm-2">
                  
                    <button>menu-item3</button>
                </div>
                <div class="col-md-2 col-sm-2">                   
                    <button>menu-item4</button>
                </div>             
                <div class="col-md-3 col-md-pull-1 col-md-push-0 col-sm-5 col-sm-push-3">                  
                    <button>search-item</button>
                </div>

            </div>
        </div>
    </div>
    <br>    
    <div class="container border-container">       
        <div class="row">
            
            <div class="col-md-2 col-sm-6">
                <h4>content-item1</h4>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
            </div>
            <div class="col-md-2 col-sm-6">
                <h4>content-item2</h4>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
            </div>
            <div class="col-md-2 col-sm-6">
                <h4>content-item3</h4>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
            </div>
            <div class="col-md-2 col-sm-6">
                <h4>content-item4</h4>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
            </div>
            <div class="col-md-2 col-sm-6">
                <h4>content-item5</h4>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
            </div>
            <div class="col-md-2 col-sm-6">
                <h4>content-item6</h4>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
            </div>
        </div>
    </div>
                <br>
                <br>

    <div class="row">
        <div class="row">
            <div class="col-sm-6 sp editor">
                <div class="pane-label"><code>css</code></div>
                <div class="inner">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    commodi consequatur?
                </div>
            </div>
            <div class="col-sm-6 sp">
                <div class="pane-label"><code>javascript</code></div>
                <div class="inner">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pane-label"><code>html</code></div>
                <div class="inner">
                    <h1>Bootstrap Layout</h1>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae.
                </div>
            </div>
        </div>
    </div>


                @*<div class="row">
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                </div>
                <div class="row">
                    <div class="col-md-8">.col-md-8</div>
                    <div class="col-md-4">.col-md-4</div>
                </div>
                <div class="row">
                    <div class="col-md-4">.col-md-4</div>
                    <div class="col-md-4">.col-md-4</div>
                    <div class="col-md-4">.col-md-4</div>
                </div>
                <div class="row">
                    <div class="col-md-6">.col-md-6</div>
                    <div class="col-md-6">.col-md-6</div>
                </div>*@
                <br>

                <div class="panel">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input class="form-control" ng-model="text" placeholder="Название" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="number" class="form-control" ng-model="price" placeholder="Цена" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="button" id="sendmessage" value="AddMessage" />
                                <button class="btn btn-default" id="newcontosochatmessage">Добавить</button>
                                @*<button class="btn btn-default" onclick = "javascript:addItem1()">Добавить</button>*@
                                @*<button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>*@
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Предмет</th>
                                <th>Цена</th>
                                <th>Куплено</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list.items">
                                <td>{{item.purchase}}</td>
                                <td>{{item.price}}</td>
                                <td><input type="checkbox" ng-model="item.done" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*<script src="~/signalr/hubs"></script>*@
                @*<script src="signalr/hubs"></script>*@
                @*<script src="/Scripts/jquery.signalr-2.2.0.js" type="text/javascript"></script>*@
                @section scripts {
                    @*<script src="/Scripts/jquery.signalr-2.2.0.js" type="text/javascript"></script>*@
                    <script src="/Scripts/jquery.signalr-2.2.0.min.js"></script>
                    <script src="~/signalr/hubs"></script>
                    <script>


                        $(function () {

                            //$('#newcontosochatmessage').click(function () {
                            //    var connection = $.hubConnection("http://localhost:53463/signalr");
                            //    //$.connection.hub.url = "http://localhost:53463/signalr";
                            //    var contosoChatHubProxy = connection.createHubProxy('myHub1');
                            //    contosoChatHubProxy.on('addMessage', function (userName, message) {
                            //        console.log(userName + ' ' + message);
                            //    });
                            //    connection.start()
                            //        .done(function () { console.log('Now connected, connection ID=' + connection.id); })
                            //        .fail(function () { console.log('Could not connect'); });
                            //});

                            $.connection.hub.url = "http://localhost:53463/signalr";
                            //var chat = $.connection.hub();
                            var connection = $.connection.hub;
                            debugger
                            connection.client.aMessage = function (name, massege) {
                                $('#messages').append($('<li/>').html(m));
                                alert("alert");
                            };

                            //echo.client.greetings('Hello from client...');

                            //var hello = function () {
                            //    echo.server.sayhello()
                            //    .done(function (m) {
                            //        $('#messages').append($('<li/>').html(m));
                            //    })
                            //    .failed(function () {
                            //        $('#messages').append($('<li>Error</>').html(m));
                            //    });
                            //};

                            //$.connection.hub.start()
                            //    .done(function () {
                            //        hello();
                            //    });

                            //echo.client.greetings('Hello from client after connection...');
                            //connection.start({ transport: 'longPolling', xdomain: true });
                            $.connection.hub.start({ transport: 'longPolling', xdomain: true }, function () {
                                //$.connection.hub.start().done(function () {

                                alert("alert");
                                // Wire up Send button to call NewContosoChatMessage on the server.
                                $('#sendmessage').click(function () {
                                    alert("alert");

                                    //contosoChatHubProxy.server.newContosoChatMessage($('#displayname').val(), $('#message').val());
                                    //$('#message').val('').focus();
                                });
                            });
                        });



                    </script>
                }


                @*<script>
                    var model = {
                        items: [
                            { purchase: "Хлеб",         done: false, price: 15.9 },
                            { purchase: "Масло",        done: false, price: 60 },
                            { purchase: "Картофель",    done: true, price: 22.6 },
                            { purchase: "Сыр",          done: false, price: 310 }
                        ]
                    };
                    var purchaseApp = angular.module("purchaseApp", []);
                    purchaseApp.controller("purchaseController", function ($scope) {
                        $scope.list = model;
                        $scope.addItem = function (text, price) {



                            price = parseFloat(price); // преобразуем введенное значение к числу
                            if (text != "" && !isNaN(price)) // если текст установлен и введено число, то добавляем
                            {
                                $scope.list.items.push({ purchase: text, price: price, done: false });
                            }

                            var url = 'http://localhost:53463/Help/Apii';
                            //var url = 'http://localhost:53463/Help';

                            debugger
                                $.ajax({
                                url: url,
                                type: 'POST',
                                contentType: "application/json",
                                crossDomain: true,
                                dataType: "json",
                                success: function (data)
                                {
                                    alert(data);
                                    //debugger
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.log(errorThrown);
                                }
                            });
                        }
                    });


                </script>*@
    <script>
    $('.editor').resizable({
    handles: 'e, s',
    minWidth:100,
    maxWidth:900,
    resize:function(event,ui){
    var x=ui.element.outerWidth();
    var y=ui.element.outerHeight();
    var ele=ui.element;
    var factor = $(this).parent().width()-x;
    var f2 = $(this).parent().width() * .02999;
    console.log(f2);
    $.each(ele.siblings(),function(idx,item){

    ele.siblings().eq(idx).css('height',y+'px');
    //ele.siblings().eq(idx).css('width',(factor-41)+'px');
    ele.siblings().eq(idx).width((factor-f2)+'px');

    });
    }
    });

    $('.sp:not(.editor)').resizable({
    handles: 's',
    resize:function(event,ui){

    var y=ui.element.outerHeight();
    var ele=ui.element;

    $.each(ele.siblings(),function(idx,item){
    ele.siblings().eq(idx).css('height',y+'px');
    });
    }
    });
</script>

</body>
</html>